article :is(h1,h2,h3,h4,h5,p,a) {
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
}
article p {
  text-indent: 1cm;
}

article > div {
  display: inline-block;
}

h4 {
  z-index: 3;
}
img {
  max-width: 200px;
  width: 40%;
  position: relative;
  z-index: 1;
  float: right;
  margin: 4px;
}

.imageContainer {
  display: inline-flex;
  flex-direction: column;
  text-indent: 0;
  border: 1px solid #0003;
  border-radius: 2px;
  float: right;
  padding: 4px;
  margin: 2px;
  width: 40%;
  max-width: 200px;
}

.imageContainer > a {
  font-size: small;
  text-align: center;
}

.imageContainer > img {
  width: 100%;
  margin: 0;
  max-width: none;
}