:root {
  --bg-color: #f4f4f4;
  --text-color: #0f0f0f;
  --link-color: #1e90ff;
  --link-hover-color: #0066cc;
  --button-color: #9cc;
  --button-hover-color: #477;
  --button-active-color: #255;
  --button-text-color: #f0f0f0;
  --table-row-alt-bg: #e6e6e0;
  --link-disabled-color: #b84d4d;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif, arial;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
table {
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  border: none;
  background-color: transparent;
}

table tr:nth-child(2n) {
  background-color: var(--table-row-alt-bg);
}

th,
tr,
td {
  padding: 4px;
  border: none;
}

table.RL td:last-child {
  font-size: 8px;
}
a[href] {
  transition: all 0.2s;
  text-decoration: none;
  color: var(--link-color);
}

a[href]:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

a[href="javascript:void(0)"] {
  color: var(--link-disabled-color);
}
button {
  padding: 0.5em;
  transition: all 0.2s;
  text-decoration: none;
  color: var(--button-text-color);
  border: none;
  border-radius: 8px;
  background: var(--button-color);
  cursor: pointer;
  font: inherit;
}

button:hover {
  background: var(--button-hover-color);
}

button:active {
  background: var(--button-active-color);
}
iframe[src] {
  border: none;
}

@media (max-width: 550px) {
  table {
    font-size: 0.5em;
  }
}
