body {
  font-family: sans-serif, arial;
  color: #464849;
  background-color: #ccf;
}
:root {
  scroll-behavior: smooth;
}
table {
  margin: auto;
  border-collapse: collapse;
}
th,
tr,
td {
  padding: 4px;
}
table.RL td:last-child {
  font-size: 8px;
}