:root {
  --bgColor: #f4f4f4;
  --textColor: #0f0f0f;
  --linkColor: #1e90ff;
  --buttonColor: #9cc;
  --buttonHoverColor: #477;
  --buttonActiveColor: #255;
  --buttonTextColor: #f0f0f0;
  --buttonHoverTextColor: #f0f0f0;
}
body {
  font-family: sans-serif, arial;
  font-weight: 300;
  color: var(--textColor);
  background-color: var(--bgColor);
}
/* p {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
} */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
:root {
  scroll-behavior: smooth;
}
table {
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  border: none;

  /* background-color: inherit; */
  background-color: none;
}
table tr:nth-child(2n) {
  background-color: #e6e6e0;
}
th,
tr,
td {
  padding: 4px;
  border: none;
}
table.RL td:last-child {
  font-size: 8px;
}
a[href] {
  transition: all 0.2s;
  text-decoration: none;
  color: var(--linkColor);
}
:is(a[href="javascript:void(0)"]) {
  color: #b84d4d;
}
a[href]:hover {
  text-decoration: underline;
}
button {
  all: unset;
  padding: 0.5em;
  transition: all 0.2s;
  text-decoration: none;
  color: #f0f0f0;
  border-radius: 8px;
  background: var(--buttonColor);
  text-indent: 0;
}
button:hover {
  background: var(--buttonHoverColor);
}
button:active {
  background: var(--buttonActiveColor);
}
iframe[src] {
  border: none;
}
/* @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
@media (max-width: 500px) {
  table {
    font-size: 0.5em;
  }
}
