body {
  margin: 0;
  padding: 0;
}

a {
  overflow-wrap: break-word;
}

nav {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 3em;
  white-space: nowrap;
  background: #fff;
}

nav #logo {
  position: sticky;
  left: 0;
}

nav span.menu {
  color: #000;
}

nav span.menu a {
  line-height: 3em;
  display: inline-block;
  padding: 0 1em;
  transition: all 0.2s;
  vertical-align: top;
  text-decoration: none;
  color: inherit;
}

nav span.menu a:hover {
  text-decoration: none;
  color: inherit;
  background: #b0b0b0;
}

#SRPN-logo img {
  height: 2.7em;
  padding: 0.15em 4px;
  background-color: #fff;
}

main > div {
  margin: 24px auto;
  padding: 8px;
  border-radius: 32px;
  background-color: #fafafa;
  box-shadow: #0f0f0f11 0 0 8px;
}

h1,
table,
#a,
h2,
p {
  text-align: center;
}

p {
  margin: 5px;
}

main > * {
  max-width: 80%;
  margin: 0 auto;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 10em;
  min-width: 150px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #fffe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05),
    0 8px 16px rgba(0, 0, 0, 0.02), 0 16px 32px rgba(0, 0, 0, 0.01);
}

.cardValue {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardLabel {
  font-size: 1rem;
  color: #666;
}

.others {
  display: flex;
  justify-content: center;
}

.external p a::after {
  content: "←";
}

.external p a::before {
  content: "→";
}

.external div p:last-child {
  margin: 0 0 1em 0;
}

.message {
  padding: 0;
  text-align: center;
}

.message li::marker {
  content: none;
}

footer {
  padding: 0.2em;
  background-color: #eee;
}

.center-button {
  display: block;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .external {
    display: flex;
    justify-content: center;
  }
}
