:root {
  --welcome-bg-color: #eee;
  --welcome-height: calc(100vh - 3em);
  --logo-width: 50vmin;
  --logo-top: 40%;
}

#welcome {
  width: 100%;
  min-height: var(--welcome-height);
  background-color: var(--welcome-bg-color);
  opacity: 0;
}

hr {
  margin: 0;
}
.logo {
  position: absolute;
  top: var(--logo-top);
  left: 50%;
  overflow: hidden;
  width: var(--logo-width);
  max-width: 600px;
  transform: translate(-50%, -50%);
  animation-fill-mode: backwards;
}

@keyframes fromLeftInto {
  0% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes fromTopInto {
  0% {
    top: 100vh;
    opacity: 0;
  }
}

@keyframes opacityAdd {
  0% {
    opacity: 0;
  }
}

@keyframes tensile {
  0% {
    letter-spacing: 0.3em;
  }
}
#logo-main {
  position: absolute;
  top: var(--logo-top);
  left: 50%;
  transform: translate(-50%, -50%);
}

.tt {
  position: absolute;
  top: var(--logo-top);
  left: 50%;
  width: max-content;
  margin: 0;
  transform: translate(-50%, calc(var(--logo-width) / 2));
  opacity: 1;
}

#logo-py {
  opacity: 1;
}

#loading {
  opacity: 1;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animation-start #welcome {
  opacity: 1;
}

.animation-start #loading {
  opacity: 0;
}

.animation-start #logo-main {
  animation: fromLeftInto 2s;
}

.animation-start #logo-py {
  animation: fromTopInto 1.5s 1s;
  animation-fill-mode: backwards;
}

.animation-start #logo-time {
  animation: opacityAdd 1s 2.2s;
  animation-fill-mode: backwards;
}

.animation-start #logo-circle {
  animation: opacityAdd 1s 2.8s;
  animation-fill-mode: backwards;
}

.animation-start .tt {
  animation: opacityAdd 1s 2s;
  animation-fill-mode: backwards;
}

.animation-start #welcome-title {
  animation: tensile 1s 1.8s;
}

@media (max-height: 350px) {
  .imgs {
    display: none;
  }
  #welcome .tt {
    top: 20%;
    transform: translate(-50%, 0);
  }
}
